target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/*
**/nbactions.xml
/src/main/script/work/
**/nbproject/*
/veidemannctl/bin/
/veidemannctl/src/veidemann_api/
/veidemannctl/src/veidemannctl/bindata/
/veidemannctl/tmp/
/veidemannctl/pkg/

# IDEA
*.iml
.idea
/src/main/kubernetes-auau/configmap.yml
!/.mvn/extensions.xml
