target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/broprox-harvester/nbactions.xml
/src/main/script/work/
/broprox-controller/nbproject/
/broprox-db-adapter/nbproject/
/broprox-commons/nbproject/
/broprox-robotrules/robotsparser/nbproject/
/broprox-robotrules/broprox-robotsparser/nbproject/
/broprox-robotrules/broprox-robotrules-service/nbproject/
/broprox-harvester/nbproject/
/broproxctl/bin/
/broproxctl/nbactions.xml
/broproxctl/src/broprox/
/broproxctl/tmp/
/broproxctl/pkg/
/broprox-dns-service/nbproject/

# IDEA
*.iml
.idea