apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "linkerd.fullname" . }}-config
  labels:
    app: {{ template "linkerd.name" . }}
    chart: {{ template "linkerd.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  config.yaml: |-
{{- if .Values.config }}
{{ toYaml .Values.config | indent 4 }}
{{- else }}
    admin:
      port: {{ .Values.service.ports.admin.port }}
    namers:
      - kind: io.l5d.k8s
    routers:
      - protocol: http
        # Incoming requests to linkerd with a Host header of "hello" get assigned
        # a name like /http/1.1/GET/hello.  This dtab transforms that into
        # /#/io.l5d.k8s/{{ .Release.Namespace }}/{{ .Values.dtab.discoveryPortName }}/hello which indicates that the kubernetes
        # namer should query the API for ports named "{{ .Values.dtab.discoveryPortName }}" on pods in the
        # "{{ .Release.Namespace }}" namespace named "hello".  linkerd will then load balance over
        # those pods.
        dtab: |
          /http/1.1/* => /#/io.l5d.k8s/{{ .Release.Namespace }}/{{ .Values.dtab.discoveryPortName }}
        servers:
          - ip: 0.0.0.0
            port: 4140
{{- end }}