<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="0">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} - %MDC %msg%n %ex{full}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="no.nb.nna.veidemann" level="info" />
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
