<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="0">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %X{eid} %X{uri} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="no.nb.nna.broprox" level="debug" />
        <Logger name="no.nb.nna.broprox.harvester.proxy" level="error" />
        <Logger name="no.nb.nna.broprox.chrome" level="error" />
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
